{% extends "base.html" %}
{% load static %}
{% block title %}
    {% if subject %}
        {{ subject.title }} courses
    {% else %}
        All courses
    {% endif %}
{% endblock %}

{% block content %}
    <div class="mdk-drawer-layout__content subject_page">
        <div class="container-fluid">
            <div class="w3-card-4 w3-hover-pale-blue"
                 style="background-image: linear-gradient(45deg, #2e89fe, #8900fe 50%, #00e8fe); margin-top: 20px; border-radius: 15px;">
                <h1 class="h2 w3-center" style="color: #06f26a;">Courses</h1></div>
            <div class="fresh-table full-screen-table full-color-azure table-bordered" style="border-radius: 15px;">
                <div class="toolbar" data-toggle="lists" data-lists-values='["js-lists-values-employee-name"]'>

                    <div class="w3-btn example_d btn_admins w3-left" style="text-decoration-line: none;"
                         onclick="history.back()">
                        <a><i class="fas fa-arrow-left"></i> Back</a>
                    </div>
                    <div class="w3-btn example_d btn_admins w3-left" style="text-decoration-line: none;"
                         onclick="history.forward()">
                        <a>GoForward <i class="fas fa-arrow-right"></i></a>
                    </div>
                </div>

                <table id="fresh-table" class="w3-table">
                    <thead style="font-size: 16px;">
                    <th data-field="course">Course</th>
                    <th data-field="subject">Subject</th>
                    <th data-field="class">Class</th>
                    <th data-field="teacher">Teacher</th>
                    <th data-field="created">Created</th>
                    {% if request.user.account_type == 'admin' %}
                        <th data-field="school">School</th>
                    {% endif %}
                    <th data-field="options">Options</th>
                    </thead>
                    <tbody class="list" id="search" style="font-size: 14px;">
                    {% for course in courses %}
                        <tr>
                            <td><a class="w3-tooltip js-lists-values-employee-name" data-toggle="tooltip"
                                   title="Edit Course"
                                   href="{% url "school_courses:course_detail" course.slug %}"
                                   style="margin-left: 12px;">{{ course.title }}
                                <span style="position: absolute; left: 115px; width: 90px; bottom: 18px; color: yellow; background: #0a6ebd; border-radius: 10px;"
                                      class="w3-text w3-tag">Course Edit</span>
                            </a>
                            </td>
                            <td>{{ course.subject }}</td>
                            <td>{{ course.grade }}</td>
                            <td>{{ course.creator.user.get_full_name }}</td>
                            <td>{{ course.created }}</td>
                            {% if request.user.account_type == 'admin' %}
                                <td>{{ course.school }}</td>
                            {% endif %}
                            <td>
                                <a class="w3-tooltip w3-text-yellow" data-toggle="tooltip" title="Delete Course"
                                   href="{% url "school_courses:course_delete" course.slug %}"
                                   style="margin-left: 10px;"><i
                                        class="fa fa-trash"></i>
                                    <span style="position: absolute; right: 30px; width: 140px; bottom: 18px; color: red; background: #3fdf82; border-radius: 10px;"
                                          class="w3-text w3-tag">"{{ course.title }}" Delete</span>
                                </a>
                                <a class="w3-tooltip w3-text-yellow" data-toggle="tooltip" title="Module sdfdList"
                                   href="{% url "school_courses:module_list" course.slug %}">
                                    <img src="{% static "icons/Modules.svg" %}" style="width: 20px; margin-left: 20px;">
                                    <span style="position:absolute; right: 30px; width: 160px; bottom:18px; color: red; background: #cfdf82; border-radius: 10px;"
                                          class="w3-text w3-tag">"{{ course.title }}" Module</span>
                                </a>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <script src="{% static "vendor/jquery.min.js" %}"></script>
    <script src="{% static "vendor/bootstrap-table.min.js" %}"></script>

    <script type="text/javascript">
        const $table = $('#fresh-table');
        const $alertBtn = $('#alertBtn');

        window.operateEvents = {
            'click .like': function (e, value, row, index) {
                alert('You click like icon, row: ' + JSON.stringify(row))
                console.log(value, row, index)
            },
            'click .edit': function (e, value, row, index) {
                alert('You click edit icon, row: ' + JSON.stringify(row))
                console.log(value, row, index)
            },
            'click .remove': function (e, value, row, index) {
                $table.bootstrapTable('remove', {field: 'id', values: [row.id]})
            }
        }

        function operateFormatter(value, row, index) {
            return [
                '<a rel="tooltip" title="Like" class="table-action like" href="javascript:void(0)" title="Like">',
                '<i class="fa fa-heart"></i>',
                '</a>',
                '<a rel="tooltip" title="Edit" class="table-action edit" href="javascript:void(0)" title="Edit">',
                '<i class="fa fa-edit"></i>',
                '</a>',
                '<a rel="tooltip" title="Remove" class="table-action remove" href="javascript:void(0)" title="Remove">',
                '<i class="fa fa-remove"></i>',
                '</a>'
            ].join('')
        }

        $(function () {
            $table.bootstrapTable({
                classes: 'table table-hover table-striped',
                toolbar: '.toolbar',

                search: true,
                showRefresh: true,
                showToggle: true,
                showColumns: true,
                pagination: true,
                striped: true,
                sortable: true,
                pageSize: 8,
                pageList: [8, 10, 25, 50, 100],

                formatShowingRows: function (pageFrom, pageTo, totalRows) {
                    return ''
                },
                formatRecordsPerPage: function (pageNumber) {
                    return pageNumber + ' rows visible'
                }
            })

            $alertBtn.click(function () {
                alert('You pressed on Alert')
            })
        })
    </script>
    <!-- Fonts and icons -->
    <style>
        [dir=ltr] .modal-backdrop {
            position: unset !important;
        }

        .subject_page {
            align-content: center;
            width: 100%;
        }

        .example_d {
            text-transform: uppercase;
            border-radius: 12px;
            display: inline-block;
            transition: all 0.3s ease 0s;
            margin: 15px;
            color: white;
            font-weight: bold;
        }

        .example_d:hover {
            color: #494949 !important;
            border-radius: 20px;
            border-color: #494949 !important;
            transition: all 0.3s ease 0s;
        }

        .btn_admins {
            background-color: #544CD0;
        }

        .animation_effect {
        {#background-color: #f1f2f6;#} padding-bottom: 20vh;
            animation: slide-up 2s;
        }

        @keyframes slide-up {
            from {
                opacity: 0;
            }

            to {
                opacity: 1;
            }
        }
    </style>
{% endblock %}