{% extends "aonebrains_main/base.html" %}
{% load widget_tweaks %}
{% load static %}

{% block title %}
    {{ request.user.first_name }} profile
{% endblock %}

{% block content %}
    <div class="rs-breadcrumbs bg7 breadcrumbs-overlay">
        <div class="breadcrumbs-inner">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 text-center">
                        <h1 class="page-title">Edit Account</h1>
                        <ul>
                            <li>
                                <a class="active" href="{% url "aonebrains_main:course_list" %}">Home</a>
                            </li>
                            <li>My Account</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Breadcrumbs End -->
    <div style="margin: 4em 7em 4em 7em;">
        <div class="mdk-drawer-layout__content page ">
            <div class="container-fluid page__container p-0">
                <div class="row m-0">
                    <div class="col-lg container-fluid page__container">

                        {% if form.non_field_errors %}
                            <ul class='form-errors'>
                                {% for error in form.non_field_errors %}
                                    <li>{{ error }}</li>
                                {% endfor %}
                            </ul>
                        {% endif %}
                        <form action="." method="post" enctype="multipart/form-data">
                            {% csrf_token %}
                            <div class="card">
                                <div class="list-group list-group-fit">
                                    {% for field in form %}
                                        <div class="list-group-item">
                                            <div class="form-group m-0" role="group" aria-labelledby="label-firstname">
                                                <div class="form-row">
                                                    <label id="label-firstname" for="username"
                                                           class="col-md-3 col-form-label form-label">{{ field.label }}</label>
                                                    <div class="col-md-9">
                                                        {{ field|add_class:"form-control" }}
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    {% endfor %}
                                </div>
                            </div>
                            <button style="margin-top: 16px; margin-bottom: 16px;" type="submit"
                                    class="btn btn-success float-right">Save Changes
                            </button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <style>
        .animation_effect {
        {#background-color: #f1f2f6;#}
            padding-bottom: 20vh;
            animation: slide-up 2s;
        }

        @keyframes slide-up {
            from {
                opacity: 0;
            }

            to {
                opacity: 1;
            }
        }
    </style>

{% endblock %}

{# Testing #}
{##}
{#<form action="." method="post" enctype="multipart/form-data">#}
{#    {{ profile_form.name }}#}
{#    {{ form.as_p }}#}
{#    {% csrf_token %}#}
{#    <input type="submit" value="Submit">#}
{#</form>#}
