{% extends "base.html" %}
{% block title %}
    Dashboard
{% endblock %}


{% block content %}

    <div class="mdk-drawer-layout__content page ">
        <div class="container page__container">

            <h1 class="h2">Dashboard</h1>
            <div class="row">
                <div class="col-lg-6">
                    <div class="card">
                        <div class="card-header d-flex align-items-center">
                            <div class="flex">
                                <h4 class="card-title"><a href="{% url "aonebrains_courses:course_list" %}">Courses</a>
                                </h4>
                                <p class="card-subtitle">Latest Courses</p>
                            </div>
                            {#                            <a href="fixed-instructor-statement.html" class="btn btn-sm btn-primary"><i#}
                            {#                                    class="material-icons">receipt</i></a>#}
                        </div>
                        <div data-toggle="lists" data-lists-values='[
            "js-lists-values-course",
            "js-lists-values-teacher",
            "js-lists-values-grade",
            "js-lists-values-date"
          ]' data-lists-sort-by="js-lists-values-date" data-lists-sort-desc="true" class="table-responsive">
                            <table class="table table-nowrap m-0">
                                <thead class="thead-light">
                                <tr>
                                    <th colspan="2">
                                        <a href="javascript:void(0)" class="sort"
                                           data-sort="js-lists-values-course">Course</a>
                                        <a href="javascript:void(0)" class="sort" data-sort="js-lists-values-document">Curator</a>
                                        <a href="javascript:void(0)" class="sort"
                                           data-sort="js-lists-values-grade">Grade</a>
                                        <a href="javascript:void(0)" class="sort"
                                           data-sort="js-lists-values-date">Date</a>
                                    </th>
                                </tr>
                                </thead>
                                <tbody class="list">

                                {% for course in courses|slice:"-5:" %}
                                    <tr>
                                        <td>
                                            <div class="media align-items-center">
                                                <a href="{% url "aonebrains_courses:course_detail" course.slug %}"
                                                   class="avatar avatar-4by3 avatar-sm mr-3">
                                                    {% if course.preview %}
                                                        <img src="{{ course.preview.url }}" alt="course"
                                                             class="avatar-img rounded">
                                                    {% endif %}
                                                </a>
                                                <div class="media-body">
                                                    <strong><span
                                                            class="js-lists-values-course">{{ course.title }}</span></strong><br>
                                                    <small class="text-muted mr-1">
                                                        Teacher:
                                                        <a href="{% url "accounts:curator_detail" course.creator.slug %}"
                                                           style="color: inherit;"
                                                           class="js-lists-values-teacher">{{ course.creator.user.first_name }}</a>
                                                        -
                                                        class: <span
                                                            class="js-lists-values-grade">{{ course.grade }}</span>
                                                    </small>
                                                </div>
                                            </div>
                                        </td>
                                        <td class="text-right">
                                            <small class="text-muted text-uppercase js-lists-values-date">{{ course.created }}
                                            </small>
                                        </td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="card">
                        <div class="card-header d-flex align-items-center">
                            <div class="flex">
                                <h4 class="card-title"><a href="{% url "accounts:editor_list" %}">Editors</a></h4>
                                <p class="card-subtitle">New Editors</p>
                            </div>
                            {#                            <a href="fixed-instructor-statement.html" class="btn btn-sm btn-primary"><i#}
                            {#                                    class="material-icons">receipt</i></a>#}
                        </div>
                        <div data-toggle="lists" data-lists-values='[
{#            "js-lists-values-course",#}
            "js-lists-values-teacher",
            "js-lists-values-admin",
            "js-lists-values-date"
          ]' data-lists-sort-by="js-lists-values-date" data-lists-sort-desc="true" class="table-responsive">
                            <table class="table table-nowrap m-0">
                                <thead class="thead-light">
                                <tr>
                                    <th colspan="2">
                                        {#                                        <a href="javascript:void(0)" class="sort"#}
                                        {#                                           data-sort="js-lists-values-course">Course</a>#}
                                        <a href="javascript:void(0)" class="sort" data-sort="js-lists-values-document">Editor</a>
                                        <a href="javascript:void(0)" class="sort"
                                           data-sort="js-lists-values-admin">Admin</a>
                                        <a href="javascript:void(0)" class="sort"
                                           data-sort="js-lists-values-date">Date</a>
                                    </th>
                                </tr>
                                </thead>
                                <tbody class="list">

                                {% for editor in editors|slice:"-5:" %}
                                    <tr>
                                        <td>
                                            <div class="media align-items-center">
                                                {#                                                <a href="{% url "schools:teachers:courses:course_detail" editor.id %}"#}
                                                {#                                                   class="avatar avatar-4by3 avatar-sm mr-3">#}
                                                {#                                                    {% if editor.preview %}#}
                                                {#                                                        <img src="{{ editor.preview.url }}" alt="course"#}
                                                {#                                                             class="avatar-img rounded">#}
                                                {#                                                    {% endif %}#}
                                                {#                                                </a>#}
                                                <div class="media-body">
                                                    <strong><a
                                                            href="#"
                                                            style="color: inherit;"><span
                                                            class="js-lists-values-teacher">{{ editor.user.first_name }}</span></a></strong><br>
                                                    <small class="text-muted mr-1">
                                                        {#                                                        Curators:#}
                                                        {#                                                        <a href="#"#}
                                                        {#                                                           style="color: inherit;">{{ editor.cura }}</a>#}
                                                        admin: <span
                                                            class="js-lists-values-grade">{{ editor.admin }}</span>
                                                    </small>
                                                </div>
                                            </div>
                                        </td>
                                        <td class="text-right">
                                            <small class="text-muted text-uppercase js-lists-values-date">{{ editor.user.date_joined }}
                                            </small>
                                        </td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>


            <div class="row">
                <div class="col-lg-6">
                    <div class="card">
                        <div class="card-header d-flex align-items-center">
                            <div class="flex">
                                <h4 class="card-title"><a href="#">Admins</a></h4>
                                <p class="card-subtitle">New Admins</p>
                            </div>
                            {#                            <a href="fixed-instructor-statement.html" class="btn btn-sm btn-primary"><i#}
                            {#                                    class="material-icons">receipt</i></a>#}
                        </div>
                        <div data-toggle="lists" data-lists-values='[
{#            "js-lists-values-course",#}
            "js-lists-values-admin",
{#            "js-lists-values-grade",#}
            "js-lists-values-date"
          ]' data-lists-sort-by="js-lists-values-date" data-lists-sort-desc="true" class="table-responsive">
                            <table class="table table-nowrap m-0">
                                <thead class="thead-light">
                                <tr>
                                    <th colspan="2">
                                        {#                                        <a href="javascript:void(0)" class="sort"#}
                                        {#                                           data-sort="js-lists-values-course">Course</a>#}
                                        {#                                        <a href="javascript:void(0)" class="sort" data-sort="js-lists-values-document">Teacher</a>#}
                                        <a href="javascript:void(0)" class="sort"
                                           data-sort="js-lists-values-admin">Admin</a>
                                        <a href="javascript:void(0)" class="sort"
                                           data-sort="js-lists-values-date">Date</a>
                                    </th>
                                </tr>
                                </thead>
                                <tbody class="list">

                                {% for super_admin in super_admins|slice:"-5:" %}
                                    <tr>
                                        <td>
                                            <div class="media align-items-center">
                                                <div class="media-body">
                                                    <strong><a
                                                            href="#"
                                                            style="color: inherit;"><span
                                                            class="js-lists-values-teacher">{{ super_admin.user.first_name }}</span></a></strong><br>
                                                    <small class="text-muted mr-1">
                                                        Editor:
                                                        <a href="#"
                                                           style="color: inherit;">{{ super_admin.editor.count }}</a>
                                                        Curators: <span
                                                            class="js-lists-values-grade">{{ super_admin.curator.count }}</span>
                                                    </small>
                                                </div>
                                            </div>
                                        </td>
                                        <td class="text-right">
                                            <small class="text-muted text-uppercase js-lists-values-date">{{ super_admin.user.date_joined }}
                                            </small>
                                        </td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="card">
                        <div class="card-header d-flex align-items-center">
                            <div class="flex">
                                <h4 class="card-title"><a href="#">Curators</a></h4>
                                <p class="card-subtitle">New Curators</p>
                            </div>
                            {#                            <a href="fixed-instructor-statement.html" class="btn btn-sm btn-primary"><i#}
                            {#                                    class="material-icons">receipt</i></a>#}
                        </div>
                        <div data-toggle="lists" data-lists-values='[
            "js-lists-values-curator",
            "js-lists-values-admin",
{#            "js-lists-values-grade",#}
            "js-lists-values-date"
          ]' data-lists-sort-by="js-lists-values-date" data-lists-sort-desc="true" class="table-responsive">
                            <table class="table table-nowrap m-0">
                                <thead class="thead-light">
                                <tr>
                                    <th colspan="2">
                                        <a href="javascript:void(0)" class="sort"
                                           data-sort="js-lists-values-curator">Curator</a>
                                        <a href="javascript:void(0)" class="sort"
                                           data-sort="js-lists-values-admin">Admin</a>
                                        {#                                        <a href="javascript:void(0)" class="sort"#}
                                        {#                                           data-sort="js-lists-values-grade">Grade</a>#}
                                        <a href="javascript:void(0)" class="sort"
                                           data-sort="js-lists-values-date">Date</a>
                                    </th>
                                </tr>
                                </thead>
                                <tbody class="list">

                                {% for curator in curators|slice:"-5:" %}
                                    <tr>
                                        <td>
                                            <div class="media align-items-center">
                                                {#                                                <a href="{% url "schools:teachers:courses:course_detail" curator.id %}"#}
                                                {#                                                   class="avatar avatar-4by3 avatar-sm mr-3">#}
                                                {#                                                    {% if curator.preview %}#}
                                                {#                                                        <img src="{{ curator.preview.url }}" alt="course"#}
                                                {#                                                             class="avatar-img rounded">#}
                                                {#                                                    {% endif %}#}
                                                {#                                                </a>#}
                                                <div class="media-body">
                                                    <strong><a
                                                            href="#"
                                                            style="color: inherit;"><span
                                                            class="js-lists-values-curator">{{ curator.user.first_name }}</span></a></strong><br>
                                                    <small class="text-muted mr-1">
                                                        {#                                                        Teacher:#}
                                                        {#                                                        <a href="{% url "schools:teachers:detail" curator.user.id %}"#}
                                                        {#                                                           style="color: inherit;"></a>#}
                                                        Admin: <span
                                                            class="js-lists-values-admin">{{ curator.admin }}</span>
                                                    </small>
                                                </div>
                                            </div>
                                        </td>
                                        <td class="text-right">
                                            <small class="text-muted text-uppercase js-lists-values-date">{{ curator.user.date_joined }}
                                            </small>
                                        </td>
                                    </tr>
                                {% endfor %}

                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>


            <div class="row">
                <div class="col-lg-6">
                    <div class="card">
                        <div class="card-header d-flex align-items-center">
                            <div class="flex">
                                <h4 class="card-title"><a href="#">Schools</a></h4>
                                <p class="card-subtitle">New Schools</p>
                            </div>
                            {#                            <a href="fixed-instructor-statement.html" class="btn btn-sm btn-primary"><i#}
                            {#                                    class="material-icons">receipt</i></a>#}
                        </div>
                        <div data-toggle="lists" data-lists-values='[
            "js-lists-values-student",
            "js-lists-values-school",
{#            "js-lists-values-grade",#}
            "js-lists-values-date"
          ]' data-lists-sort-by="js-lists-values-date" data-lists-sort-desc="true" class="table-responsive">
                            <table class="table table-nowrap m-0">
                                <thead class="thead-light">
                                <tr>
                                    <th colspan="2">
                                        <a href="javascript:void(0)" class="sort"
                                           data-sort="js-lists-values-student">Student</a>
                                        {#                                        <a href="javascript:void(0)" class="sort" data-sort="js-lists-values-document">Teacher</a>#}
                                        <a href="javascript:void(0)" class="sort"
                                           data-sort="js-lists-values-school">School</a>
                                        <a href="javascript:void(0)" class="sort"
                                           data-sort="js-lists-values-date">Date</a>
                                    </th>
                                </tr>
                                </thead>
                                <tbody class="list">

                                {% for school in schools|slice:"-5:" %}
                                    <tr>
                                        <td>
                                            <div class="media align-items-center">
                                                <div class="media-body">
                                                    <strong><a
                                                            href="#"
                                                            style="color: inherit;"><span
                                                            class="js-lists-values-school">{{ school.name }}</span></a></strong><br>
                                                    <small class="text-muted mr-1">
                                                        Teachers:
                                                        <a href="#"
                                                           style="color: inherit;">{{ school.teachers.count }}</a>
                                                        Students: <span
                                                            class="js-lists-values-student">{{ school.students.count }}</span>
                                                    </small>
                                                </div>
                                            </div>
                                        </td>
                                        <td class="text-right">
                                            <small class="text-muted text-uppercase js-lists-values-date">{{ school.user.date_joined }}
                                            </small>
                                        </td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="card">
                        <div class="card-header d-flex align-items-center">
                            <div class="flex">
                                <h4 class="card-title"><a href="#">School Teachers</a></h4>
                                <p class="card-subtitle">New Teachers</p>
                            </div>
                            {#                            <a href="fixed-instructor-statement.html" class="btn btn-sm btn-primary"><i#}
                            {#                                    class="material-icons">receipt</i></a>#}
                        </div>
                        <div data-toggle="lists" data-lists-values='[
            "js-lists-values-teacher",
            "js-lists-values-school",
{#            "js-lists-values-grade",#}
            "js-lists-values-date"
          ]' data-lists-sort-by="js-lists-values-date" data-lists-sort-desc="true" class="table-responsive">
                            <table class="table table-nowrap m-0">
                                <thead class="thead-light">
                                <tr>
                                    <th colspan="2">
                                        <a href="javascript:void(0)" class="sort"
                                           data-sort="js-lists-values-teacher">Teacher</a>
                                        <a href="javascript:void(0)" class="sort"
                                           data-sort="js-lists-values-school">School</a>
                                        {#                                        <a href="javascript:void(0)" class="sort"#}
                                        {#                                           data-sort="js-lists-values-grade">Grade</a>#}
                                        <a href="javascript:void(0)" class="sort"
                                           data-sort="js-lists-values-date">Date</a>
                                    </th>
                                </tr>
                                </thead>
                                <tbody class="list">

                                {% for teacher in school_teachers|slice:"-5:" %}
                                    <tr>
                                        <td>
                                            <div class="media align-items-center">
                                                {#                                                <a href="{% url "schools:teachers:courses:course_detail" teacher.id %}"#}
                                                {#                                                   class="avatar avatar-4by3 avatar-sm mr-3">#}
                                                {#                                                    {% if teacher.preview %}#}
                                                {#                                                        <img src="{{ teacher.preview.url }}" alt="course"#}
                                                {#                                                             class="avatar-img rounded">#}
                                                {#                                                    {% endif %}#}
                                                {#                                                </a>#}
                                                <div class="media-body">
                                                    <strong><a
                                                            href="#"
                                                            style="color: inherit;"><span
                                                            class="js-lists-values-teacher">{{ teacher.user.first_name }}</span></a></strong><br>
                                                    <small class="text-muted mr-1">
                                                        {#                                                        Teacher:#}
                                                        {#                                                        <a href="{% url "schools:teachers:detail" teacher.user.id %}"#}
                                                        {#                                                           style="color: inherit;"></a>#}
                                                        School: <span
                                                            class="js-lists-values-school">{{ teacher.school }}</span>
                                                    </small>
                                                </div>
                                            </div>
                                        </td>
                                        <td class="text-right">
                                            <small class="text-muted text-uppercase js-lists-values-date">{{ teacher.user.date_joined }}
                                            </small>
                                        </td>
                                    </tr>
                                {% endfor %}

                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-6">
                    <div class="card">
                        <div class="card-header d-flex align-items-center">
                            <div class="flex">
                                <h4 class="card-title"><a href="#">School Quizzes</a></h4>
                                <p class="card-subtitle">New Quizzes</p>
                            </div>
                            {#                            <a href="fixed-instructor-statement.html" class="btn btn-sm btn-primary"><i#}
                            {#                                    class="material-icons">receipt</i></a>#}
                        </div>
                        <div data-toggle="lists" data-lists-values='[
{#            "js-lists-values-course",#}
            "js-lists-values-school",
{#            "js-lists-values-grade",#}
            "js-lists-values-quiz"
          ]' data-lists-sort-by="js-lists-values-date" data-lists-sort-desc="true" class="table-responsive">
                            <table class="table table-nowrap m-0">
                                <thead class="thead-light">
                                <tr>
                                    <th colspan="2">
                                        {#                                        <a href="javascript:void(0)" class="sort"#}
                                        {#                                           data-sort="js-lists-values-course">Course</a>#}
                                        {#                                        <a href="javascript:void(0)" class="sort" data-sort="js-lists-values-document">Teacher</a>#}
                                        <a href="javascript:void(0)" class="sort"
                                           data-sort="js-lists-values-quiz">Quiz</a>
                                        <a href="javascript:void(0)" class="sort"
                                           data-sort="js-lists-values-school">School</a>
                                    </th>
                                </tr>
                                </thead>
                                <tbody class="list">

                                {% for quiz in school_quizzes|slice:"-5:" %}
                                    <tr>
                                        <td>
                                            <div class="media align-items-center">
                                                <div class="media-body">
                                                    <strong><a
                                                            href="#"
                                                            style="color: inherit;"><span
                                                            class="js-lists-values-quiz">{{ quiz.title }}</span></a></strong><br>
                                                    <small class="text-muted mr-1">
                                                        Teacher:
                                                        <a href="#"
                                                           style="color: inherit;">{{ quiz.course.teacher.user.first_name }}</a>
                                                        School: <span
                                                            class="js-lists-values-school">{{ quiz.course.teacher.school }}</span>
                                                    </small>
                                                </div>
                                            </div>
                                        </td>
                                        {#                                        <td class="text-right">#}
                                        {#                                            <small class="text-muted text-uppercase js-lists-values-date">{{ quiz.user.date_joined }}#}
                                        {#                                            </small>#}
                                        {#                                        </td>#}
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="card">
                        <div class="card-header d-flex align-items-center">
                            <div class="flex">
                                <h4 class="card-title"><a href="#">School Students</a></h4>
                                <p class="card-subtitle">New Students</p>
                            </div>
                            {#                            <a href="fixed-instructor-statement.html" class="btn btn-sm btn-primary"><i#}
                            {#                                    class="material-icons">receipt</i></a>#}
                        </div>
                        <div data-toggle="lists" data-lists-values='[
            "js-lists-values-student",
            "js-lists-values-school",
{#            "js-lists-values-grade",#}
            "js-lists-values-date"
          ]' data-lists-sort-by="js-lists-values-date" data-lists-sort-desc="true" class="table-responsive">
                            <table class="table table-nowrap m-0">
                                <thead class="thead-light">
                                <tr>
                                    <th colspan="2">
                                        <a href="javascript:void(0)" class="sort"
                                           data-sort="js-lists-values-student">Student</a>
                                        <a href="javascript:void(0)" class="sort"
                                           data-sort="js-lists-values-school">School</a>
                                        {#                                        <a href="javascript:void(0)" class="sort"#}
                                        {#                                           data-sort="js-lists-values-grade">Grade</a>#}
                                        <a href="javascript:void(0)" class="sort"
                                           data-sort="js-lists-values-date">Date</a>
                                    </th>
                                </tr>
                                </thead>
                                <tbody class="list">

                                {% for student in school_students|slice:"-5:" %}
                                    <tr>
                                        <td>
                                            <div class="media align-items-center">
                                                {#                                                <a href="{% url "schools:teachers:courses:course_detail" student.id %}"#}
                                                {#                                                   class="avatar avatar-4by3 avatar-sm mr-3">#}
                                                {#                                                    {% if student.preview %}#}
                                                {#                                                        <img src="{{ student.preview.url }}" alt="course"#}
                                                {#                                                             class="avatar-img rounded">#}
                                                {#                                                    {% endif %}#}
                                                {#                                                </a>#}
                                                <div class="media-body">
                                                    <strong><a
                                                            href="#"
                                                            style="color: inherit;"><span
                                                            class="js-lists-values-student">{{ student.user.first_name }}</span></a></strong><br>
                                                    <small class="text-muted mr-1">
                                                        {#                                                        Teacher:#}
                                                        {#                                                        <a href="{% url "schools:teachers:detail" student.user.id %}"#}
                                                        {#                                                           style="color: inherit;"></a>#}
                                                        School: <span
                                                            class="js-lists-values-school">{{ student.school }}</span>
                                                    </small>
                                                </div>
                                            </div>
                                        </td>
                                        <td class="text-right">
                                            <small class="text-muted text-uppercase js-lists-values-date">{{ student.user.date_joined }}
                                            </small>
                                        </td>
                                    </tr>
                                {% endfor %}

                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>


            <div class="row">
                <div class="col-lg-6">
                    <div class="card">
                        <div class="card-header d-flex align-items-center">
                            <div class="flex">
                                <h4 class="card-title"><a href="#">School Courses</a></h4>
                                <p class="card-subtitle">New Courses</p>
                            </div>
                            {#                            <a href="fixed-instructor-statement.html" class="btn btn-sm btn-primary"><i#}
                            {#                                    class="material-icons">receipt</i></a>#}
                        </div>
                        <div data-toggle="lists" data-lists-values='[
            "js-lists-values-course",
            "js-lists-values-school",
            "js-lists-values-grade",
            "js-lists-values-date"
          ]' data-lists-sort-by="js-lists-values-date" data-lists-sort-desc="true" class="table-responsive">
                            <table class="table table-nowrap m-0">
                                <thead class="thead-light">
                                <tr>
                                    <th colspan="2">
                                        <a href="javascript:void(0)" class="sort"
                                           data-sort="js-lists-values-course">Course</a>
                                        <a href="javascript:void(0)" class="sort" data-sort="js-lists-values-document">Teacher</a>
                                        <a href="javascript:void(0)" class="sort"
                                           data-sort="js-lists-values-date">Date</a>
                                        <a href="javascript:void(0)" class="sort"
                                           data-sort="js-lists-values-school">School</a>
                                    </th>
                                </tr>
                                </thead>
                                <tbody class="list">

                                {% for course in school_courses|slice:"-5:" %}
                                    <tr>
                                        <td>
                                            <div class="media align-items-center">
                                                <a href="#"
                                                   class="avatar avatar-4by3 avatar-sm mr-3">
                                                    {% if course.preview %}
                                                        <img src="{{ course.preview.url }}" alt="course"
                                                             class="avatar-img rounded">
                                                    {% endif %}
                                                </a>
                                                <div class="media-body">
                                                    <strong><a
                                                            href="#"
                                                            style="color: inherit;"><span
                                                            class="js-lists-values-course">{{ course.title }}</span></a></strong><br>
                                                    <small class="text-muted mr-1">
                                                        Teacher:
                                                        <a href="#"
                                                           style="color: inherit;">{{ course.creator.user.first_name }}</a>
                                                        -
                                                        School: <span
                                                            class="js-lists-values-school">{{ course.school.name }}</span>
                                                    </small>
                                                </div>
                                            </div>
                                        </td>
                                        <td class="text-right">
                                            <small class="text-muted text-uppercase js-lists-values-date">{{ course.created }}
                                            </small>
                                        </td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="card">
                        <div class="card-header d-flex align-items-center">
                            <div class="flex">
                                <h4 class="card-title"><a href="#">Quizzes</a></h4>
                                <p class="card-subtitle">New Quizzes</p>
                            </div>
                            {#                            <a href="fixed-instructor-statement.html" class="btn btn-sm btn-primary"><i#}
                            {#                                    class="material-icons">receipt</i></a>#}
                        </div>
                        <div data-toggle="lists" data-lists-values='[
            "js-lists-values-quiz",
{#            "js-lists-values-school",#}
{#            "js-lists-values-grade",#}
            "js-lists-values-curator"
          ]' data-lists-sort-by="js-lists-values-date" data-lists-sort-desc="true" class="table-responsive">
                            <table class="table table-nowrap m-0">
                                <thead class="thead-light">
                                <tr>
                                    <th colspan="2">
                                        <a href="javascript:void(0)" class="sort"
                                           data-sort="js-lists-values-quiz">Quiz</a>
                                        <a href="javascript:void(0)" class="sort"
                                           data-sort="js-lists-values-curator">Curator</a>
                                        {#                                        <a href="javascript:void(0)" class="sort"#}
                                        {#                                           data-sort="js-lists-values-grade">Grade</a>#}
                                        {#                                        <a href="javascript:void(0)" class="sort"#}
                                        {#                                           data-sort="js-lists-values-date">Date</a>#}
                                    </th>
                                </tr>
                                </thead>
                                <tbody class="list">

                                {% for quiz in quizzes|slice:"-5:" %}
                                    <tr>
                                        <td>
                                            <div class="media align-items-center">
                                                {#                                                <a href="{% url "schools:teachers:courses:course_detail" quiz.id %}"#}
                                                {#                                                   class="avatar avatar-4by3 avatar-sm mr-3">#}
                                                {#                                                    {% if quiz.preview %}#}
                                                {#                                                        <img src="{{ quiz.preview.url }}" alt="course"#}
                                                {#                                                             class="avatar-img rounded">#}
                                                {#                                                    {% endif %}#}
                                                {#                                                </a>#}
                                                <div class="media-body">
                                                    <strong><a
                                                            href="#"
                                                            style="color: inherit;"><span
                                                            class="js-lists-values-quiz">{{ quiz.title }}</span></a></strong><br>
                                                    <small class="text-muted mr-1">
                                                        {#                                                        Teacher:#}
                                                        {#                                                        <a href="{% url "schools:teachers:detail" quiz.user.id %}"#}
                                                        {#                                                           style="color: inherit;"></a>#}
                                                        Curator: <span
                                                            class="js-lists-values-curator">{{ quiz.course.creator.user.first_name }}</span>
                                                    </small>
                                                </div>
                                            </div>
                                        </td>
                                        {#                                        <td class="text-right">#}
                                        {#                                            <small class="text-muted text-uppercase js-lists-values-date">{{ quiz.user.date_joined }}#}
                                        {#                                            </small>#}
                                        {#                                        </td>#}
                                    </tr>
                                {% endfor %}

                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


{% endblock %}