{% extends "base.html" %}
{% load widget_tweaks %}
{% load static %}

{% block title %}
    {{ request.user.first_name }} profile
{% endblock %}

{% block content %}
    <div class="mdk-drawer-layout__content page">
        <div class="container-fluid page__container p-0">
            <div class="row m-0">
                <div class="col-lg container-fluid page__container">
                    <div class="w3-card-4"
                         style="background-image: linear-gradient(45deg, #2e89fe, #8900fe 50%, #00e8fe); border-radius: 15px;">
                        <h1 class="h2 w3-center" style="color: #06f26a;">Basic Information</h1>
                    </div>
                    {% if form.non_field_errors %}
                        <ul class='form-errors'>
                            {% for error in form.non_field_errors %}
                                <li>{{ error }}</li>
                            {% endfor %}
                        </ul>
                    {% endif %}
                    <form action="." method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        <div class="card">
                            <div class="list-group list-group-fit">
                                {% if profile_form %}
                                    {% for profile_field in profile_form %}
                                        <div class="list-group-item">
                                            <div class="form-group m-0" role="group" aria-labelledby="label-firstname">
                                                <div class="form-row">
                                                    <label id="label-firstname" for="firstname"
                                                           class="col-md-3 col-form-label form-label">School
                                                        Name:</label>
                                                    <div class="col-md-9">
                                                        {{ profile_field|add_class:"form-control" }}
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    {% endfor %}
                                {% endif %}
                                {% for field in form %}
                                    <div class="list-group-item">
                                        <div class="form-group m-0" role="group" aria-labelledby="label-firstname">
                                            <div class="form-row">
                                                <label id="label-firstname" for="username"
                                                       class="col-md-3 col-form-label form-label">{{ field.label }}</label>
                                                <div class="col-md-9">
                                                    {% if field.name == 'avatar' %}
                                                        {% if form.instance.avatar %}
                                                            <img style="height: 10em; width: 18em;"
                                                                 src="{{ form.instance.avatar.url }}" alt="Preview"
                                                                 class="rounded">
                                                            <input type="file" name="avatar"
                                                                   accept="image/*" id="id_avatar">
                                                        {% endif %}
                                                    {% else %}
                                                        {% if request.user.account_type == 'school' and field.name == 'first_name' and field.name != 'last_name' %}


                                                        {% else %}
                                                            {{ field|add_class:"form-control" }}
                                                        {% endif %}
                                                    {% endif %}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                        <button type="submit" class="btn btn-success">Save Changes</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <style>
        .animation_effect {
        {#background-color: #f1f2f6;#} padding-bottom: 20vh;
            animation: slide-up 2s;
        }

        @keyframes slide-up {
            from {
                opacity: 0;
            }

            to {
                opacity: 1;
            }
        }
    </style>

{% endblock %}

{# Testing #}


{##}
{#<form action="." method="post" enctype="multipart/form-data">#}
{#    {{ profile_form.name }}#}
{#    {{ form.as_p }}#}
{#    {% csrf_token %}#}
{#    <input type="submit" value="Submit">#}
{#</form>#}
