<!-- aonebrains_courses/templates/aonebrains_courses/content/detail.html -->

{% extends "base.html" %}
{% load course %}
{% block title %}
    {{ object.title }}
{% endblock %}

{% block content %}

    <div class="mdk-drawer-layout__content page">
        <div class="container-fluid page__container">
            <div class="w3-card-4 student_background_title">
                <h1 class="h2 w3-center" style="color: #06f26a;">
                    Title: {{ object.item }}</h1>
            </div>
            <div class="card">
                <div class="card-body">
                    <table class="table mb-0 col-md-12">
                        {% with item=object.item %}
                            <tbody>
                            <tr>
                                <th scope="row">Title:</th>
                                <td>{{ item }}</td>
                            </tr>
                            {% if item|model_name == 'atext' %}
                                <tr>
                                    <th scope="row">Content:</th>
                                    <td>{{ item.content }}</td>
                                </tr>
                                <tr>
                                    <th scope="row">Video:</th>
                                    <td>
                                        <video width="400" controls>
                                            <source src="{{ item.video.url }}" type="video/mp4">
                                        </video>
                                    </td>
                                </tr>
                                <tr>
                                    <th scope="row">File:</th>
                                    <td>
                                        <a href="{{ item.file.url }}">Download</a>
                                    </td>
                                </tr>
                                <tr>
                                    <th scope="row">Image:</th>
                                    <td>
                                        {% if item.image %}
                                            <img style="width: 100px;" src="{{ item.image.url }}">
                                        {% endif %}
                                    </td>
                                </tr>
                            {% elif item|model_name == 'afile' %}
                                <tr>
                                    <th scope="row">File:</th>
                                    <td>{{ item.file }}</td>
                                </tr>
                            {% elif item|model_name == 'aimage' %}
                                <tr>
                                    <th scope="row">Image:</th>
                                    <td>{{ item.image }}</td>
                                </tr>
                            {% elif item|model_name == 'avideo' %}
                                <tr>
                                    <th scope="row">Video:</th>
                                    <td>{{ item.video }}</td>
                                </tr>
                            {% endif %}
                        {% endwith %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <style>
        .student_background_title {
            background-image: linear-gradient(45deg, #2e89fe, #8900fe 50%, #00e8fe);
            border-radius: 10px;
        }

        .animation_effect {
        {#background-color: #f1f2f6;#} padding-bottom: 20vh;
            animation: slide-up 2s;
        }

        @keyframes slide-up {
            from {
                opacity: 0;
            }

            to {
                opacity: 1;
            }
        }
    </style>
{% endblock %}