{% extends "base.html" %}

{% block title %}
    Quiz
{% endblock %}

{% block content %}

    <div class="mdk-drawer-layout__content page ">
        <div class="container-fluid page__container">
            <h1 class="h2">Quiz</h1>
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class="col-lg-12">

                            <div class="table-responsive border-bottom" data-toggle="lists" data-lists-values='["js-lists-values-employee-name"]'>
                                <a class="btn btn-sm btn-primary float-right"
                                   href="{% url "schools:teachers:courses:quiz_create" course_id %}">Create new Quiz</a>
                                <br>
                                <br>
                                <div class="search-form search-form--light mb-3">
                                    <input type="text" class="form-control search" placeholder="Search">
                                    <button class="btn" type="button" role="button"><i class="material-icons">search</i>
                                    </button>
                                </div>

                                <table class="table mb-0" style="width: 100%">
                                    <thead>
                                    <tr>

                                        <th>Quiz</th>
                                        <th style="width: 100px;">Course</th>
                                        {#                                                <th style="width: 51px;">Courses</th>#}
                                        <th style="width: 100px;">Options</th>
                                    </tr>
                                    </thead>
                                    <tbody class="list" id="search">
                                    {% for quiz in quizzes %}
                                        <tr>
                                            <td>
                                                <span class="js-lists-values-employee-name">{{ quiz.title }}</span>
                                            </td>
                                            <td>
                                                <small class="text-muted">{{ quiz.course }}</small>
                                            </td>
                                            {#                                                <td>Courses</td>#}
                                            <td><a class="text-muted"
                                                   href="{% url "schools:teachers:courses:quiz_edit" quiz.course.id quiz.id %}"><i
                                                    class="material-icons">E</i></a>
                                                {#                                                <a class="text-muted" href="{% url "schools:teachers:courses:course_delete" course.id%}" ><i class="material-icons">D</i></a>#}
                                                <a class="text-muted"
                                                   href="{% url "schools:teachers:courses:mcq_list" quiz.course.id quiz.id %}"><i
                                                        class="material-icons">L</i></a></td>
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}