{% extends "base.html" %}

{% block title %}
    Delete {{ object.title }}
{% endblock %}

{% block content %}
    {#    <div class="mdk-drawer-layout__content page">#}
    {##}
    {#        <div class="container-fluid page__container">#}
    {#            <div class="w3-card-4 w3-center" style="border-radius: 7px; width: 50%; height: 300px;">#}
    {#                <div class="" style="background: #1c7430;">#}
    {#                    <h3>Delete "{{ object.title }}"</h3>#}
    {#                </div>#}
    {#                <div class="module">#}
    {#                    <form action="." method="post">#}
    {#                        {% csrf_token %}#}
    {#                        <p>Are you sure you want to delete "{{ object }}"?</p>#}
    {#                        <div>#}
    {#                            <input type="submit" class="button" value="Confirm">#}
    {#                        </div>#}
    {#                    </form>#}
    {#                </div>#}
    {#            </div>#}
    {#        </div>#}
    {#    </div>#}


    <!-- +++++++++++++++++++++++++++++++++++++++++++  Add-Modal Start  ++++++++++++++++++++++++++++++++++++++++++++-->
    <div class="w3-modal-content w3-center" style="width: 20%; margin-top: 300px;">
        <div style="background-image: linear-gradient(to top, #cfd9df 0%, #e2ebf0 100%);">
            <div class="header" style="background-image: linear-gradient(-225deg, #3D4E81 0%, #5753C9 48%, #6E7FF3 100%);">
                <h5 class="title" id="exampleModalLongTitle" style="color: white;">Delete "{{ object.title }}"
                    <button type="button" class="close" aria-label="Close">
                        <span aria-hidden="true" style="outline: none;">&times;</span>
                    </button>
                </h5>

            </div>
            <div class="module">
                <form action="." novalidate method="post">
                    {% csrf_token %}
                    <div class="form-group">
                        <label class="form-label" for="username" style="color: black;">Are you sure you want to
                            delete "{{ object }}"?</label>
                    </div>
                    <div class="footer">
                        <input type="submit" class="button example_d btn_courses" style="outline: none;" value="Confirm">
                        <input  type="button"  onclick="history.back()" class="button example_d btn_courses" style="outline: none; margin-bottom: 10px; margin-left: 30px;" value="Cancel">

                    </div>
                </form>
            </div>
        </div>
    </div>

    <!-- +++++++++++++++++++++++++++++++++++++++++++  Add-Modal End  ++++++++++++++++++++++++++++++++++++++++++++-->


    <style>
        [dir=ltr] .modal-backdrop {
            position: unset !important;
        }

        .subject_page {
            align-content: center;
            position: unset !important;
            width: 20%;
        }

        .example_d {
            text-transform: uppercase;
            border-radius: 12px;
            display: inline-block;
            transition: all 0.3s ease 0s;
            margin: 10px;
            color: white;
            font-weight: bold;
        }

        .example_d:hover {
            color: #494949 !important;
            border-radius: 20px;
            border-color: #494949 !important;
            transition: all 0.3s ease 0s;
        }

        .btn_courses {
            background-color: #4089d0;
        }

        .btn_editors {
            background-color: #f0ba11;
        }
    </style>

{% endblock %}