{% extends "base.html" %}
{% load widget_tweaks static %}
{% load static %}

{% block title %}
    Quiz
{% endblock %}
{% block content %}

    <div class="mdk-drawer-layout__content page subject_page">
        <div class="container-fluid" style=" width: 70%;">
            <div class="w3-card-4"
                 style="background-image: linear-gradient(45deg, #2e89fe, #8900fe 50%, #00e8fe); border-radius: 15px;">
                <h1 class="h2 w3-center" style="color: #06f26a;">Questions</h1>
            </div>
            <div class="fresh-table full-screen-table table-bordered"
                 style="background-image: linear-gradient(to top, #f9f586 0%, #96fbc4 100%); border-radius: 15px;">

                <!-- +++++++++++++++++++++++++++++  Back & Up & Previous Button creating start  ++++++++++++++++++++++++++++++++-->
                <div class="toolbar" data-toggle="lists"
                     data-lists-values='["js-lists-values-employee-name"]'>
                    <div class="w3-btn example_d btn_admins w3-left" style="text-decoration-line: none;"
                         onclick="history.back()">
                        <a><i class="fas fa-arrow-left"></i> Back</a>
                    </div>

                    {% if not request.user.is_anonymous %}
                        {% if request.user.account_type == 'admin' %}
                            <a class="w3-btn example_d btn_admins w3-left" href="{% url "accounts:admin_dashboard" %}"
                               style="text-decoration-line: none; background: #544CD0; color: white;">
                                Up <i class="fas fa-arrow-up"></i>
                            </a>

                        {% elif request.user.account_type == 'super admin' %}
                            <a class="w3-btn example_d btn_admins w3-left"
                               href="{% url "accounts:super_admin_dashboard" %}"
                               style="text-decoration-line: none; background: #544CD0; color: white;">
                                Up <i class="fas fa-arrow-up"></i>
                            </a>

                        {% elif request.user.account_type == 'editor' %}

                            <a class="w3-btn example_d btn_admins w3-left" href="{% url "accounts:editor_dashboard" %}"
                               style="text-decoration-line: none; background: #544CD0; color: white;">
                                Up <i class="fas fa-arrow-up"></i></a>

                        {% elif request.user.account_type == 'school' %}
                            <a class="w3-btn example_d btn_admins w3-left" href="{% url "schools:dashboard" %}"
                               style="text-decoration-line: none; background: #544CD0; color: white;">
                                Up <i class="fas fa-arrow-up"></i></a>

                        {% elif request.user.account_type == 'teacher' %}
                            <a class="w3-btn example_d btn_admins w3-left" href="{% url "schools:teachers:dashboard" %}"
                               style="text-decoration-line: none; background: #544CD0; color: white;">
                                Up <i class="fas fa-arrow-up"></i>
                            </a>

                        {% elif request.user.account_type == 'curator' %}
                            <a class="w3-btn example_d btn_admins w3-left" href="{% url "accounts:curator_dashboard" %}"
                               style="text-decoration-line: none; background: #544CD0; color: white;">
                                Up <i class="fas fa-arrow-up"></i></a>

                        {% elif request.user.account_type == 'marketer' %}
                            <a class="w3-btn example_d btn_admins w3-left"
                               href="{% url "accounts:marketer_dashboard" %}"
                               style="text-decoration-line: none; background: #544CD0; color: white;">
                                Up <i class="fas fa-arrow-up"></i></a>
                        {% endif %}
                    {% endif %}

                    <div class="w3-btn example_d btn_admins w3-left" style="text-decoration-line: none;"
                         onclick="history.forward()">
                        <a>GoForward <i class="fas fa-arrow-right"></i></a>
                    </div>

                    <div class="w3-btn example_d btn_admins w3-light-green">
                        <a href="{% url "schools:teachers:courses:mcq_create" course_id quiz_id %}"
                           style="font-weight: bold; color: white; text-decoration-line: none;">
                            Create New Question
                        </a>
                    </div>
                </div>
                <!-- +++++++++++++++++++++++++++++  Back & Up & Previous Button creating end  ++++++++++++++++++++++++++++++++-->

                <table id="fresh-table" class="w3-table w3-text-black">
                    <thead style="font-size: 16px;">
                    <th data-field="question">Question</th>
                    <th data-field="explanation">Explanation</th>
                    <th data-field="status">Options</th>
                    </thead>
                    <tbody class="list" id="search" style="font-size: 14px;">
                    {% for mcq in mcqs %}
                        <tr style="color: black;">
                            <td>
                                <a class="js-lists-values-employee-name" style="color: black; font-weight: bold;">
                                    {{ mcq.content }}
                                </a>
                            </td>
                            <td>
                                <a style="color: black; font-weight: bold; margin-left: 10px;">{{ mcq.explanation|truncatechars:60 }}</a>
                            </td>
                            <td>
                                <a class="w3-tooltip w3-text-yellow"
                                   href="{% url "schools:teachers:courses:mcq_edit" course_id quiz_id mcq.id %}">
                                    <i class="material-icons"
                                       style="margin-left: 12px; margin-right: 10px; font-weight: bold;">E</i>
                                    <span style="position:absolute; right:30px; width: 160px; bottom:18px; color: red; background: #8fdf82; border-radius: 10px;"
                                          class="w3-text w3-tag">"{{ mcq.content }}" Edit Question</span>
                                </a>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <!-- Javascript -->
    <script src="{% static "vendor/jquery.min.js" %}"></script>
    <script src="{% static "vendor/bootstrap-table.min.js" %}"></script>

    <script type="text/javascript">
        const $table = $('#fresh-table');
        const $alertBtn = $('#alertBtn');

        window.operateEvents = {
            'click .like': function (e, value, row, index) {
                alert('You click like icon, row: ' + JSON.stringify(row))
                console.log(value, row, index)
            },
            'click .edit': function (e, value, row, index) {
                alert('You click edit icon, row: ' + JSON.stringify(row))
                console.log(value, row, index)
            },
            'click .remove': function (e, value, row, index) {
                $table.bootstrapTable('remove', {
                    field: 'id',
                    values: [row.id]
                })
            }
        }

        function operateFormatter(value, row, index) {
            return [
                '<a rel="tooltip" title="Like" class="table-action like" href="javascript:void(0)" title="Like">',
                '<i class="fa fa-heart"></i>',
                '</a>',
                '<a rel="tooltip" title="Edit" class="table-action edit" href="javascript:void(0)" title="Edit">',
                '<i class="fa fa-edit"></i>',
                '</a>',
                '<a rel="tooltip" title="Remove" class="table-action remove" href="javascript:void(0)" title="Remove">',
                '<i class="fa fa-remove"></i>',
                '</a>'
            ].join('')
        }

        $(function () {
            $table.bootstrapTable({
                classes: 'table table-hover table-striped',
                toolbar: '.toolbar',
                search: true,
                showRefresh: true,
                showToggle: true,
                showColumns: true,
                pagination: true,
                striped: true,
                sortable: true,
                pageSize: 8,
                pageList: [8, 10, 25, 50, 100],

                formatShowingRows: function (pageFrom, pageTo, totalRows) {
                    return ''
                },
                formatRecordsPerPage: function (pageNumber) {
                    return pageNumber + ' rows visible'
                }
            })

            $alertBtn.click(function () {
                alert('You pressed on Alert')
            })
        })

    </script>

    <!-- Fonts and icons -->
    <style>
        [dir=ltr] .modal-backdrop {
            position: unset !important;
        }

        .subject_page {
            align-content: center;
            width: 100%;
        }

        .example_d {
            text-transform: uppercase;
            border-radius: 12px;
            display: inline-block;
            transition: all 0.3s ease 0s;
            margin: 10px;
            color: white;
            font-weight: bold;
        }

        .example_d:hover {
            color: green !important;
            border-radius: 20px;
            border-color: #494949 !important;
            transition: all 0.3s ease 0s;
        }

        .btn_admins {
            background-color: #544CD0;
        }

       .animation_effect {
        {#background-color: #f1f2f6;#} padding-bottom: 20vh;
            animation: slide-up 2s;
        }

        @keyframes slide-up {
            from {
                opacity: 0;
            }

            to {
                opacity: 1;
            }
        }


    </style>
{% endblock %}