{% extends "base.html" %}
{% load widget_tweaks %}

{% block title %}
    Classes
{% endblock %}

{% block content %}

    <div class="mdk-drawer-layout__content page">

        <div class="container-fluid page__container">
            <h1 class="h2">Classes</h1>

            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class="col-lg-12">

                            <div class="table-responsive border-bottom" data-toggle="lists"
                                 data-lists-values='["js-lists-values-employee-name"]'>
                                <button type="button" class="btn btn-primary float-right" data-toggle="modal"
                                        data-target="#exampleModalCenter">
                                    Add Class
                                </button>
                                <br>
                                <br>
                                <div class="search-form search-form--light mb-3">
                                    <input type="text" class="form-control search" placeholder="Search">
                                    <button class="btn" type="button" role="button"><i class="material-icons">search</i>
                                    </button>
                                </div>

                                <table class="table mb-0">
                                    <thead>
                                    <tr>

                                        <th>Class</th>
                                        <th style="width: 100px;">Courses</th>
                                        <th style="width: 100px;">Options</th>

                                    </tr>
                                    </thead>
                                    <tbody class="list" id="search">
                                    {% for grade in classes %}
                                        <tr>
                                            <td>
                                                {% if grade.opencourse_set.count > 0 %}
                                                    <a href="{% url 'aonebrains_courses:class_courses_list' grade.slug %}">
                                                {% endif %}
                                                <span class="js-lists-values-employee-name">{{ grade.title }}</span>
                                                </a>
                                            </td>
                                            <td>
                                                <small class="text-muted">
                                                    {% if grade.opencourse_set.count > 0 %}
                                                        <a href="{% url 'aonebrains_courses:class_courses_list' grade.slug %}">
                                                    {% endif %}
                                                    {{ grade.opencourse_set.count }}
                                                    </a>
                                                </small>
                                            </td>
                                            <td>
                                                <a href="{% url "aonebrains_courses:grade_delete" grade.slug %}">
                                                    <i data-toggle="tooltip" title="Delete Class"
                                                       class="fa fa-trash"></i>
                                                </a>
                                            </td>
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <!-- Modal -->
    <style>
        [dir=ltr] .modal-backdrop {
            position: unset !important;
        }
    </style>
    <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog"
         aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLongTitle">Class</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                {% if form.non_field_errors %}
                    <ul class='form-errors'>
                        {% for error in form.non_field_errors %}
                            <li>{{ error }}</li>
                        {% endfor %}
                    </ul>
                {% endif %}
                <div class="modal-body">
                    <form action="." novalidate method="post">
                        {% csrf_token %}
                        {% for field in form %}
                            <div class="form-group">
                                <label class="form-label" for="username">{{ field.label }}:</label>
                                <div class="input-group input-group-merge">
                                    {{ field|add_class:"form-control form-control-prepended" }}
                                    <div class="input-group-prepend">
                                        <div class="input-group-text">
                                            {#                                            <span class="far fa-envelope"></span>#}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            <button type="submit" class="btn btn-primary">Save changes</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}


