{% extends "base.html" %}
{% load widget_tweaks static %}

{% block title %}
    Students
{% endblock %}

{% block content %}

    <div class="mdk-drawer-layout__content page">

        <div class="container-fluid page__container">

            <h1 class="h2">Students</h1>

            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class="col-lg-12">

                            <div class="table-responsive border-bottom" data-toggle="lists"
                                 data-lists-values='["js-lists-values-employee-name"]'>
                                {#                                {% if request.user.account_type != "admin" %}#}
                                {#                                    <button type="button" class="btn btn-primary float-right" data-toggle="modal"#}
                                {#                                            data-target="#exampleModalCenter">#}
                                {#                                        Add Curator#}
                                {#                                    </button>#}
                                {#                                    <br>#}
                                {#                                    <br>#}
                                {#                                {% endif %}#}
                                <div class="search-form search-form--light mb-3">
                                    <input type="text" class="form-control search" placeholder="Search">
                                    <button class="btn" type="button" role="button"><i class="material-icons">search</i>
                                    </button>
                                </div>

                                <table class="table mb-0">
                                    <thead>
                                    <tr>

                                        <th style="width: 170px;">Student</th>
                                        <th style="width: 120px;">Username</th>
                                        <th style="width: 100px;">Phone</th>
                                        <th style="width: 80px;">Email</th>
                                        {#                                        {% if request.user.account_type == 'super admin' or request.user.account_type == 'admin' %}#}
                                        <th style="width: 110px;">Joined</th>
                                        <th style="width: 120px;">Last Login</th>
                                        <th style="width: 120px;">Type</th>
                                        {#                                        {% endif %}#}
                                        <th style="width: 18px;">Options</th>
                                    </tr>
                                    </thead>
                                    <tbody class="list" id="search">
                                    {% for student in students %}
                                        <tr>
                                            <td><a href="{% url "accounts:student_detail" student.slug %}"
                                            ><span class="js-lists-values-employee-name">{{ student.user.get_full_name }}</span>
                                            </a>
                                            </td>
                                            <td>
                                                <small class="text-muted">{{ student.user.username }}</small>
                                            </td>
                                            <td>
                                                <small class="text-muted">{{ student.user.phone }}</small>
                                            </td>
                                            <td>
                                                <small class="text-muted">{{ student.user.email }}</small>
                                            </td>
                                            {#                                            {% if request.user.account_type == 'super admin' or request.user.account_type == 'admin' %}#}
                                            <td>
                                                <small class="text-muted">{{ student.user.date_joined }}</small>
                                            </td>
                                            <td>
                                                <small class="text-muted">{{ student.user.last_login }}</small>
                                            </td>
                                            <td>
                                                {% if student.school %}
                                                    <small class="text-muted">{{ student.school.name }}</small>
                                                {% else %}
                                                    <small class="text-muted">Private</small>
                                                {% endif %}
                                            </td>
                                            {#                                            <td>#}
                                            {#                                                <a href="{% url "accounts:student_detail" student.slug %}"#}
                                            {#                                                ><img style="width: 20px" data-toggle="tooltip" title="Student Detail"#}
                                            {#                                                      src="{% static "icons/Student_icon.svg" %}"#}
                                            {#                                                      aria-hidden="true"></a>#}
                                            {#                                            </td>#}


                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <!-- Modal -->
    <style>
        [dir=ltr] .modal-backdrop {
            position: unset !important;
        }
    </style>
    <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog"
         aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLongTitle">Add Curator</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form action="." novalidate method="post">
                        {% csrf_token %}
                        {% for field in form %}
                            <div class="form-group">
                                {% if field.errors %}
                                    <label class="form-label" for="username">{{ field.errors|striptags }}</label>
                                    <br>
                                {% endif %}

                                <label class="form-label" for="username">{{ field.label }}:</label>
                                <div class="input-group input-group-merge">
                                    {{ field|add_class:"form-control form-control-prepended" }}
                                    <div class="input-group-prepend">
                                        <div class="input-group-text">
                                            <span class="far fa-envelope"></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}

                        {#                        <div class="form-group">#}
                        {#                            <label class="form-label" for="username">Username:</label>#}
                        {#                            <div class="input-group input-group-merge">#}
                        {#                                {{ form.username|add_class:"form-control form-control-prepended" }}#}
                        {#                                <div class="input-group-prepend">#}
                        {#                                    <div class="input-group-text">#}
                        {#                                        <span class="far fa-envelope"></span>#}
                        {#                                    </div>#}
                        {#                                </div>#}
                        {#                            </div>#}
                        {#                        </div>#}
                        {#                        <div class="form-group">#}
                        {#                            <label class="form-label" for="password">First Name</label>#}
                        {#                            <div class="input-group input-group-merge">#}
                        {#                                {{ form.first_name|add_class:"form-control form-control-prepended" }}#}
                        {#                                <div class="input-group-prepend">#}
                        {#                                    <div class="input-group-text">#}
                        {#                                        <span class="far fa-key"></span>#}
                        {#                                    </div>#}
                        {#                                </div>#}
                        {#                            </div>#}
                        {#                        </div>#}
                        {#                        <div class="form-group">#}
                        {#                            <label class="form-label" for="password2">Last Name</label>#}
                        {#                            <div class="input-group input-group-merge">#}
                        {#                                {{ form.last_name|add_class:"form-control form-control-prepended" }}#}
                        {#                                <div class="input-group-prepend">#}
                        {#                                    <div class="input-group-text">#}
                        {#                                        <span class="far fa-key"></span>#}
                        {#                                    </div>#}
                        {#                                </div>#}
                        {#                            </div>#}
                        {#                        </div>#}
                        {#                        <div class="form-group">#}
                        {#                            <label class="form-label" for="password2">Email</label>#}
                        {#                            <div class="input-group input-group-merge">#}
                        {#                                {{ form.email|add_class:"form-control form-control-prepended" }}#}
                        {#                                <div class="input-group-prepend">#}
                        {#                                    <div class="input-group-text">#}
                        {#                                        <span class="far fa-key"></span>#}
                        {#                                    </div>#}
                        {#                                </div>#}
                        {#                            </div>#}
                        {#                        </div>#}
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            <button type="submit" class="btn btn-primary">Save changes</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    {##}
    {#    <form action="." method="post">#}
    {#    {{ form.as_p }}#}
    {#    {% csrf_token %}#}
    {#    <input type="submit" value="Submit">#}
    {#    </form>#}

{% endblock %}


